$white: #fffff;
$primary-color: #266f57;
$secondary-color1: #6f266b;
$secondary-color2: #a68f39;
$complement-color: #8d0687;
$primary-sub: #334f46;
$secondary-sub1: #4f334e;
$secondary-sub2: #776e4c;
$complement-sub: #000;
